# jupyter notebook checkpoints
.ipynb_checkpoints/

# python compiled files
__pycache__/

# environment variables
.env

# virtual environment
venv/
.venv/

# large data files or outputs (adjust as needed)
*.csv
*.xlsx
*.parquet
*.pkl
output/

# model files
*.pth
*.joblib

